<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div id="title">
        <h1>First Tree View</h1>
    </div>
    <div id="explain">
      <table>
        <tr>
          <td>Category</td>
          <td>Color</td>
        </tr>
        <tr>
          <td>Folder</td>
          <td id="folder">Branch</td>
        </tr>
        <tr>
          <td>File</td>
          <td id="file">Leaf</td>
        </tr>
        <tr>
          <td>Add file</td>
          <td id="addFile">Water</td>
        </tr>
      </table>
    </div>
    <div id="tree">
    </div>
</body>
</html>
