// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html, body {
    box-sizing: border-box;
    background-color: #E0F8E0;
    padding-left: 10px;
}
*, *:before, *:after {
    box-sizing: inherit;
}
#tree{
    line-height: 1.6;
}
ul{
  padding-left: 25px;
}
