// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html, body {
    box-sizing: border-box;
    background-color: #FFFFFF;
    padding-left: 10px;
}
*, *:before, *:after {
    box-sizing: inherit;
}
h1 {
    font-family: Impact;
    color: #000000;
}
#tree {
    background-color: #c3cb71;
    line-height: 1.6;
    border: 2px solid #5a5255;
    margin-top: 10px;
}
#folder {
    font-family: Impact;
    color: #ae5a41;
}
#file {
    font-family: sans-serif;
    color: #5a5255;
}
#addFile {
    font-family: sans-serif;
    color: 	#1b85b8;
}
ul {
    padding-left: 25px;
}
table {
    background-color: #c3cb71;
    border-collapse: collapse;
    font-size: 15px;
}
table, td {
    border: 2px solid #5a5255;
}
td {
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
}
.folder {
    font-family: Impact;
    color: #ae5a41;
}
.file {
    font-family: sans-serif;
    color: #5a5255;
}
.plusLi {
    font-family: sans-serif;
    color: 	#1b85b8;
}
